@font-face {
    font-family: 'National2-Regular';
    font-style: normal;
    src: local('National2-Regular'), url(@/assets/National2Web-Regular.woff) format('woff');
}

@font-face {
    font-family: 'National2-Medium';
    font-style: normal;
    src: local('National2-Medium'), url(@/assets/National2Web-Medium.woff) format('woff');
}
